.experiencia .subtitulo {
  color: #383838;
  max-width: 5ch;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  text-align: justify;
  hyphens: auto;
}

.experiencia-texto strong {
  color: #FFF;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #181818;
  position: relative;
  gap: 10px 20px;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#006bb6, #002F6C);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 20px;
  left: -100px;
  color: #f6f6f6;
  width:80px;
  text-align: right;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  color: #f3f3f3;
  line-height: 1.4;
  text-align: justify;
  hyphens: auto;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  background-color: #222222;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: #fff;
  padding: 5px 10px;
}

@media(max-width:1100px) {
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    font-weight: bold;
  }
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #f6f6f6;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
}

@media (max-width: 650px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .experiencia-texto {
    font-size: 1.125rem;
  }
}