.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  max-width: 200px;
  z-index: -1;
}

.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #f7f7f7;
  display: block;
}

.menu-icon {
  display: none;
  cursor: pointer;
}


@media (max-width: 850px) {
  .header {
    background-color: #040204;
    position: fixed;
    width: 100vw;
    height: 50px;
    box-sizing: border-box;
    z-index: 1;
  }

  #logo {
    width: 150px;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 40px;
    height: 40px;
  }

  .menu-icon .linha {
    width: 40px;
    height: 4px;
    background-color: white;
    transition: .5s;

  }

  .menu-icon.ativo {
    gap: 0;
  }
  
  .menu-icon.ativo .linha:first-child {
    transform: translateY(5px) rotate(45deg);
    background-color: #D50032;
  }

  .menu-icon.ativo .linha:nth-child(2) {
    opacity: 0;
    transition: .3s;
  }

  .menu-icon.ativo .linha:last-child {
    transform: translateY(-3px) rotate(-45deg);
    background-color: #D50032;
  }

  .header-menu {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #141414;
    width: 0px;
    height: 100vh;
    z-index: -1;
    transition: all ease 0.5s;
    justify-content: start;
    padding-top: 100px;
    gap: 30px;
  }

  .header-menu li {
    margin-left: 10px;
  }

  .header-menu.visivel {
    width: 200px;
  }

  #icon-menu-close {
    display: none;
  }

  #menu:checked + .menu-icons #icon-menu {
    display: none;
  }

  #menu:checked + .menu-icons #icon-menu-close {
    display: block;
  }
}
